{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": ["transform-object-rest-spread", "add-module-exports"]
    },
    "production": {
      "presets": ["env", ["minify", {
        "removeDebugger": true,
        "removeConsole": true
      }]],
      "ignore": [
        "**/test*.js",
        "**/*.test.js",
        "**/env*.js"
      ],
      "comments": false,
      "plugins": ["transform-object-rest-spread", "add-module-exports"]
    }
  }
}
